# SQL Server
SA_PASSWORD=Str0ng!Passw0rd2026
DATABASE_CONNECTION_STRING="Server=mssql,1433;Database=FractPalDb;User Id=sa;Password=Str0ng!Passw0rd2026;TrustServerCertificate=True;"

# JWT (use the correct variable names!)
JWT_SECRET_KEY=YourSuperSecretKeyThatIsAtLeast32CharactersLong!
JWT_ISSUER=FractPal
JWT_AUDIENCE=FractPal
JWT_EXPIRY_MINUTES=1440
