SA_PASSWORD=your_strong_password_here
DATABASE_CONNECTION_STRING="Server=mssql,1433;Database=FractPalDb;User Id=sa;Password=your_strong_password_here;TrustServerCertificate=True;"
JWT_KEY=very_strong_key
JWT_ISSUER=FractPal
